/*-----------Declaration of Fonts------------------*/
@font-face {
  font-family: cooper-black-std;
  src: url("../fonts/CooperBlackStd.otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: throw-my-hands-std;
  src: url("../fonts/ThrowMyHandsUpintheAir.ttf");
}

@font-face {
  font-family: throw-my-hands-bold;
  src: url("../fonts/ThrowMyHandsUpintheAirBold.ttf");
}

/*------------------Font Classes---------------*/
/* line 24, ../sass/stylesheet.scss */
.huge-text {
  font-size: 4.5em;
  font-family: 'cooper-black-std';
  font-weight: 100;
  line-height: 0.75em;
}

/* line 31, ../sass/stylesheet.scss */
.cooper {
  font-family: 'cooper-black-std';
  font-weight: 100;
  font-size: 1em;
}

/* line 37, ../sass/stylesheet.scss */
.throw-font {
  font-family: 'throw-my-hands-std';
  font-size: 2em;
  letter-spacing: 0.1em;
  line-height: 1em;
}

/* line 44, ../sass/stylesheet.scss */
.throw-font-bold {
  font-family: 'throw-my-hands-bold';
  font-size: 2em;
  letter-spacing: 0.1em;
  line-height: 1em;
}

/*----------------------Adjustable Video Frame Classes----------------*/
/* line 54, ../sass/stylesheet.scss */
.video-wrap {
  position: relative;
  padding-bottom: 35%;
  /* 16/9 ratio */
  padding-top: 30px;
  /* IE6 workaround*/
  height: 0;
  overflow: hidden;
}
/* line 60, ../sass/stylesheet.scss */
.video-wrap iframe, .video-wrap object, .video-wrap embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 68, ../sass/stylesheet.scss */
.video-wrap-small {
  position: relative;
  padding-bottom: 15%;
  /* 16/9 ratio */
  padding-top: 30px;
  /* IE6 workaround*/
  height: 100px;
  overflow: hidden;
}
/* line 74, ../sass/stylesheet.scss */
.video-wrap-small iframe, .video-wrap-small object, .video-wrap-small embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*-------------Helper Classes-------------*/
/* line 85, ../sass/stylesheet.scss */
.hero-head {
  margin-top: 100px;
}
/* line 86, ../sass/stylesheet.scss */
.hero-head h1 {
  display: none;
}
/* line 87, ../sass/stylesheet.scss */
.hero-head h3 {
  display: none;
}

/* line 91, ../sass/stylesheet.scss */
.logo {
  width: 100%;
}

/* line 96, ../sass/stylesheet.scss */
.container-fluid .hero-unit {
  background: none;
  color: #fff;
}

/* line 103, ../sass/stylesheet.scss */
body {
  background: url(../img/bg_top.png) no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: contain;
}

/* line 110, ../sass/stylesheet.scss */
.background-container {
  background: #fff;
}

/*---------------Side Menu Stuff--------------------*/
/* line 115, ../sass/stylesheet.scss */
.little_menu {
  width: 0;
  height: 0;
  position: fixed;
  right: 10px;
  top: 40%;
  z-index: 10;
  padding: 5px;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 124, ../sass/stylesheet.scss */
.little_menu img {
  margin: 3px 0;
}
@media screen and (max-width: 480px) {
  /* line 115, ../sass/stylesheet.scss */
  .little_menu {
    top: 3px;
    left: 10%;
    width: 75%;
    height: 2.5em;
    padding-left: 0.1em;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
  }
  /* line 134, ../sass/stylesheet.scss */
  .little_menu a {
    display: inline;
  }
  /* line 136, ../sass/stylesheet.scss */
  .little_menu a img {
    height: 30px;
    width: 18%;
    padding-left: .1em;
  }
}

/*----------------This pseudo class is used to create the opacity in the background-----------*/
/* line 145, ../sass/stylesheet.scss */
#little_menu:after {
  content: "";
  background: white;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/*-----------------Main Menu-------------------------------*/
/* line 161, ../sass/stylesheet.scss */
#menu {
  width: 33%;
  background-color: white;
  padding: 15px 0 15px 15px;
  margin: -60px auto 0 auto;
  font-family: "throw-my-hands-std", sans-serif;
  font-weight: 900;
  font-size: 1.1em;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  font-style: normal;
  /*--------------------We use these media queries to make sure the menu sits in a good position under logo----*/
}
/* line 173, ../sass/stylesheet.scss */
#menu a {
  color: #000000;
  text-decoration: none;
  margin: 0 0.4em;
}
/* line 177, ../sass/stylesheet.scss */
#menu a:hover {
  color: #9a9a9a;
}
/* line 181, ../sass/stylesheet.scss */
#menu span {
  margin: 0 0.1em;
}
@media screen and (max-width: 480px) {
  /* line 161, ../sass/stylesheet.scss */
  #menu {
    width: 100%;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  /* line 161, ../sass/stylesheet.scss */
  #menu {
    width: 75%;
  }
}

/*----------------------Container for the start/top of the site----------------*/
/* line 194, ../sass/stylesheet.scss */
#top {
  margin-top: 10%;
  height: 850px;
}
@media screen and (max-width: 480px) {
  /* line 194, ../sass/stylesheet.scss */
  #top {
    margin-top: -20px;
    height: 500px;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  /* line 194, ../sass/stylesheet.scss */
  #top {
    margin-top: 18%;
    height: 850px;
  }
}
@media screen and (min-width: 1280px) {
  /* line 194, ../sass/stylesheet.scss */
  #top {
    margin-top: 175px;
  }
}

/*-------------------------About Section---------------------------------------------*/
/* line 216, ../sass/stylesheet.scss */
#about {
  padding-top: 60px;
}
/* line 218, ../sass/stylesheet.scss */
#about h2 {
  margin-bottom: 60px;
}
/* line 222, ../sass/stylesheet.scss */
#about p span {
  font-size: 2em;
  line-height: 1em;
}

/*---------------Friends Section---------------------------------------------------------*/
/* line 234, ../sass/stylesheet.scss */
#friends {
  padding-top: 60px;
  background: url(../img/scissors.png) repeat-x;
  background-position: top;
}
/* line 238, ../sass/stylesheet.scss */
#friends p {
  position: relative;
}
/* line 240, ../sass/stylesheet.scss */
#friends p span {
  position: absolute;
  font-size: 0.5em;
  top: -0.9em;
}
/* line 248, ../sass/stylesheet.scss */
#friends .carousel-inner div img {
  margin: 0 auto;
}

/*----------------------Events section--------------------------------*/
/* line 262, ../sass/stylesheet.scss */
.events {
  background: url(../img/bg_events.png) no-repeat;
  background-position: top right;
  padding-top: 60px;
}
/* line 266, ../sass/stylesheet.scss */
.events h4 {
  margin-bottom: 1em;
  font-size: 3em;
  position: relative;
}
/* line 270, ../sass/stylesheet.scss */
.events h4 span {
  position: absolute;
  font-size: 0.5em;
  top: -0.9em;
}
/* line 276, ../sass/stylesheet.scss */
.events h1.cooper {
  font-size: 3em;
  padding: 0 auto;
}

/*--------------------contact------------------------*/
/* line 286, ../sass/stylesheet.scss */
#contact {
  padding-top: 50px;
  background: url(../img/scissors.png) repeat-x;
  background-position: top;
}
/* line 290, ../sass/stylesheet.scss */
#contact h2 {
  margin: 60px 0 0 0;
}

/* line 294, ../sass/stylesheet.scss */
.earth {
  margin-top: -0%;
  margin-bottom: 50px;
  z-index: 1;
}

/* line 301, ../sass/stylesheet.scss */
.connections a img {
  width: 50px;
}
@media screen and (min-width: 981px) {
  /* line 301, ../sass/stylesheet.scss */
  .connections a img {
    width: 60px;
  }
}
/* line 306, ../sass/stylesheet.scss */
.connections a img:hover {
  opacity: 0.4;
}

/*--------------------Footer------------------*/
/* line 315, ../sass/stylesheet.scss */
footer {
  padding: 20px;
  margin-top: 100px;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  color: #fff;
  background: gray;
}
